<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable default document handling -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="default.html" />
        <add value="default.htm" />
      </files>
    </defaultDocument>

    <!-- Static content MIME types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <!-- Remove unnecessary handlers -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- URL rewriting for SPA support -->
    <rewrite>
      <rules>
        <!-- Don't rewrite actual files and directories -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <rule name="Directories" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Rewrite everything else to index.html -->
        <rule name="Default Route" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Compression for performance -->
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>

    <!-- Remove Server header for security -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>

  <!-- Application settings -->
  <appSettings>
    <add key="DEPLOYMENT_TARGET" value="Azure" />
  </appSettings>
</configuration>
